.centralize-About{
  text-align: center;
   position: relative;
}

label{
  font-size: 2rem;
  margin-right:20px;
}

.inputUsers{
 
  margin-top:5%;
  border:1px solid rgb(21, 58, 133);
  font-size: 1.5rem;
  background-color: rgb(156, 206, 253);
  padding:4px 10px;
}

.inputUsers:focus{
  background-color: rgb(130, 186, 238);
  border:1px solid rgb(10, 27, 73);
}

.inputUsers::selection{
  background-color:rgb(106, 163, 218);

}

.searchButton{
  position: relative;
  background-color: rgb(58, 156, 221);
  color:rgb(15, 17, 24);
  font-family: 'Noto Sans KR' ;
  font-size: 1.2rem;
  display:inline;
  margin-left: 1%;
  border-radius:5px;
  border:1px solid rgb(8, 27, 78);
  padding: 5px 30px;
  padding-top: 8px;
  transition: 0.8s;
  
}

.searchButton:hover{
  background-color: rgb(43, 115, 197);
  color:rgb(38, 50, 87);
  
  cursor: pointer;
}


.searchButton .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: rgb(47, 138, 212);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top:50px;
  left:-10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.searchButton:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

.boxSearch{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-column-gap:50px;
  grid-row-gap:30px;
  width:70%;
  margin:0 auto;
  margin-top:3%;
  transition: 0.8s;
  margin-bottom: 90px;
}

.searchContent{
  background-color: rgb(77, 146, 185);
  padding:50px 25px;
  border-radius: 20px;
  border-bottom: 5px solid rgb(24, 37, 54);
  max-width: 750px;
  margin:0 auto;
  margin-top:20px;
 
  box-shadow: 2px 2px 10px 2px black;
  
 
}

.searchContent p{
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
  color:rgb(10, 29, 41);
}

h2{
  
  font-size: 6.5rem;
  color:rgb(27, 58, 83);
  font-family: 'Roboto Slab';
  font-weight: 900;
  -webkit-text-stroke: 0.5px rgb(40, 96, 141);
  letter-spacing: 1.5px;
  line-height: 7rem;
  text-align: center;
  margin:50px 0;
  margin-top:120px;
  
  transition-duration: 0.4s;
}